absl-py==2.1.0
google-auth==2.38.0
google-api-core==2.24.1
google-cloud-storage==2.19.0
google-cloud-aiplatform==1.83.0
pytest==8.3.4
mimetype==0.1.5
fastapi==0.115.6
aiohttp==3.11.10
requests==2.32.3
pillow==11.1.0
google-cloud-firestore==2.20.0
opencv-contrib-python-headless==4.11.0.86
tadau==1.0.8
cloud-detect==0.0.13
tenacity==9.0.0